/*===              ===*/
/*===              ===*/
/*=== PARTIE INDEX ===*/
/*===              ===*/
/*===              ===*/

/*=== POLICE ===*/
@font-face {
    font-family : "AvenirLt";
    src: url('../fonts/Avenir/AvenirNextLTPro-Regular.woff');
} /* avenir police */

@font-face{
    font-family: "Robot";
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
/*=== BODY ===*/

html{
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
    background-color: #fff;
}
body{
    height: 100%;
    margin: 0px;   
    padding: 0px;
    background-color: #23667F;
    box-shadow: 0px 1px 50px black;
}

/*=== TOP ===*/

#tete{
    display: block;
    height: 110px;
    background-color: #3bafda; 
    text-align: center;
}

#tete p{
    font-family: 'Roboto', sans-serif;
    
    font-size: 120px;
    color: white;
    display: inline;
    line-height: 110px;
}

/*=== LOADER ===*/

/* $Base */
.loaders-bg-3 {
    background-color: #F15A5A;

}
.loader {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    vertical-align: middle;

    /* centrage horizontale */
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    /* centrage verticale */
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}




/*===                                                         ===*/
/*===                                                         ===*/
/*=== PARTIE FORMULAIRE TRAITEMENT PHP FICHEFRAISVISITEUR.PHP ===*/
/*===                                                         ===*/
/*===                                                         ===*/

#infoEnvoie{
    width: 370px;
    height: 150px;;
    vertical-align: middle;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    font-family: 'AvenirLt';
    font-size: 16px;
    text-align: left;
    color: white;
}

#infoEnvoie2{
    width: 450px;
    height: 150px;;
    vertical-align: middle;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    font-family: 'AvenirLt';
    font-size: 16px;
    text-align: left;
    color: red;
}

/*	$Loader Multiple circle
========================================================================== */
.loader-circles {
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
}
.loader-circles:before, .loader-circles:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-animation: spinreverse 5s linear infinite;
    -moz-animation: spinreverse 5s linear infinite;
    animation: spinreverse 5s linear infinite;
}
.loader-circles:before {
    top: 12px;
    left: 12px;
    bottom: 12px;
    right: 12px;
    -webkit-animation: spinreverse 10s linear infinite;
    -moz-animation: spinreverse 10s linear infinite;
    animation: spinreverse 10s linear infinite;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        tranform: rotate(360deg);
    }
}

@-moz-keyframes spinreverse {
    0% {
        -moz-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
        tranform: rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        tranform: rotate(360deg);
    }
}

@-webkit-keyframes spinreverse {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        tranform: rotate(-360deg);
    }
}

/** HOSHIT **/

@import url(http://fonts.googleapis.com/css?family=Roboto);


*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }




.container {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

.content {
	font-size: 150%;
	padding: 3em 0;
}

button,input,select,textarea{
    font-family: 'Roboto', sans-serif;
    font-size:100%;
    margin:0;
}

/* partie set1 */

.input {
	position: relative;
	z-index: 1;
    font-family: 'Roboto', sans-serif;
    display: table;
    
    /*lel*/

    /* centrage verticale */
    margin: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;

}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #3bafda;
	color: red;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: white;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

/* HOOOOOOOOOOOOOOOOOOSSSSSSSSSSSSSSSSSSSSSSSSSSHHHHHHHHHHHHHHHHHHHHHHHHHHIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIT */
.input--hoshi {
	overflow: hidden;
}

.input__field--hoshi {
	margin-top: 1em;
	padding: 0.85em 0.15em;
	width: 100%;
	background: transparent;
	color: #3bafda;
}

.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0.25em;
	width: 100%;
	height: calc(100% - 1em);
	text-align: left;
	pointer-events: none;
}

.input__label-content--hoshi {
	position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 2px solid #3bafda;
}

.input__label--hoshi::after {
	margin-top: 2px;
	border-bottom: 4px solid red;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
	border-color: white;
}

.input__label--hoshi-color-2::after {
	border-color: white;
}



.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}


/***************************** ON STYLE LE BOUTON ENVOYER **************************************/

.cssButton{
			background-color: #3bafda;
    		background-image: -moz-linear-gradient(center top , #DD4B39, #D14836);
    		border: 1px solid transparent;
    		color: #fff;
    		text-shadow: 0 1px rgba(0, 0, 0, 0.1);
			border-radius: 2px 2px 2px 2px;
			font-size: 18px;
			height: 40px;
			min-width: 200px;
            font-family: 'Roboto', sans-serif;
			white-space: nowrap;
            font-weight: bold;
		}
.cssButton:hover{
			background-color: white;
    		background-image: -moz-linear-gradient(center top , #DD4B39, #C53727);
            color: #3bafda;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
    		}



